[run]
source = .

omit =
    */main.py
    */__init__.py
    */settings.py
    */manage.py
    */wsgi.py
    */apps.py
    */urls.py
    */admin.py
    */fusion/asgi.py
    */migrations/*
    */tests/*
    */venv/*
